body{
background: rgba(0, 0, 0, 0.856);
font: normal 15pt arial;
}

h1{
color: white;
text-align: center;
}

section{
background: white;
border-radius: 10px;
padding: 15px;
width: 530px;
margin: auto;
box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.712);
text-align: center;
}

div{
text-align: center;
padding: 8px 0;
}

#foto{
border-radius: 30px ;

}

#dia, #dia_sem{
    display:inline-block;
}